<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/new.css">

</head>

<body>
    <header>
        <h1>{{header}}</h1>
        <nav>
            <!-- Example nav -->
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>

            <!-- Conditional rendering of login/logout -->
            {{#if userLoggedIn}}
            <a href="/logout" id="logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{body}}}
        {{!-- {{{card}}} --}}
    </main>

    <footer>
        <p>&copy; {{currentYear}} Your Company Name. All rights reserved.</p>
    </footer>


    {{!--
    <script src="../../controllers/index.js"></script> --}}
</body>

</html>